if has nix; then
	watch_file .env
	dotenv
	if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
		source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
	fi
	use flake

	if [ ! -d epimetheus-venv ]; then
		python3 -m venv nanomtif-venv
	fi

	source epimetheus-venv/bin/activate
fi
